---
// data imports
import workExperience from "@/data/Jobs.tsx"
import education from "@/data/education.ts"
import languages from "../data/languages.ts"
import hardSkills from "@/data/hardSkills"
import softSkills from "@/data/softSkills"
import {Icon} from "astro-icon/components";

// component imports
import JobDetails from "./JobDetails.astro";
import EduDetail from "./EduDetail.astro";
import SkillCard from "./SkillCard.astro";

// config import
import {ME} from '@/config';

---

<div class="relative flex flex-col gap-8 text-n700 dark:text-n200 w-full mt-10 px-4">

    {/*Description or About me -- Section*/}
    <div class="mb-4">
        <p>
            {ME.aboutMe}
        </p>
        <br/>
        <p>
            {ME.aboutMe2}
        </p>
    </div>
    {/*Credentials section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Credentials</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            <div class="flex flex-col justify-center items-center">
                <a href="https://www.credly.com/badges/6035c5e9-6384-41cd-ac1c-30a950708ce6/public_url" target="_blank" rel="noopener noreferrer">
                    <img src="/cert-wd-studio.png" alt="Certification" width="210" height="210" />
                    <h3 class="text-xl font-bold mb-4 text-center">Workday Pro<br/>Studio</h3>
                </a>
            </div>
            <div class="flex flex-col justify-center items-center">
                <a href="https://www.credly.com/badges/058de0d4-557e-4013-b7a3-2ee3d1515b7a/public_url" target="_blank" rel="noopener noreferrer">
                    <img src="/cert-wd-extend.png" alt="Certification" width="210" height="210" />
                    <h3 class="text-xl font-bold mb-4 text-center">Workday Pro<br/>Workday Extend</h3>
                </a>
            </div>
            <div class="flex flex-col justify-center items-center">
                <a href="https://learn.microsoft.com/api/credentials/share/en-us/MitchellLemons-2033/1BD8C514A2E8FE7F?sharingId=ABDC9E738F13E218" target="_blank" rel="noopener noreferrer">
                    <img src="/cert-az-204.svg" alt="Certification" width="210" height="210" />
                    <h3 class="text-xl font-bold mb-4 text-center">Microsoft<br/>AZ-204</h3>
                </a>
            </div>
        </div>
    </div>
    {/*Work experience section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Work Experience</h2>
        <div class="flex flex-col gap-6">
            {workExperience.map((job) => (
                    <JobDetails jobData={job}/>
            ))}
        </div>
    </div>
    {/*Education section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Education</h2>
        <div class="flex flex-col gap-6">
            {education.map((edu) => (
                    <EduDetail eduData={edu}/>
            ))}
        </div>
    </div>
    {/*Skills section*/}
    <div class="mb-4">
        <h2 class="text-3xl font-bold mb-4">Hard Skills</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {hardSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={true}/>
            ))}
        </div>
    </div>
    {/*Hobbies section*/}
    <div class="mb-4">
        <h2 class="text-2xl font-bold mb-4">Soft Skills</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {softSkills.map((skill) => (
                    <SkillCard {...skill} showDescription={false}/>
            ))}
        </div>
    </div>
    
    
</div>