---
// component imports
import {Icon} from "astro-icon/components";


interface SkillCardProps {
    icon: string;
    name: string;
    description?: string;
    bullets?: string[];
    showDescription?: boolean;
    iconDark?: string;
}

const {
    icon,
    name,
    description,
    bullets,
    showDescription = true,
    iconDark
} = Astro.props as SkillCardProps;

const CDN_URI = 'https://static.workday.com/brand-logos/';
const lightWorkday = CDN_URI + "wd-dub-primary.svg";
const darkWorkday = CDN_URI + "wd-dub-reversed.svg";

---

<div class="flex flex-col gap-2 h-skill-icon bg-white dark:bg-n700 p-4 rounded-md">
    <div class="w-10 h-10">
        <Icon width={40} height={40} name={icon} class="text-primary-light mlx-icon-light" />
        <Icon width={40} height={40} name={iconDark ?? icon} class="text-primary-dark mlx-icon-dark" />
    </div>
    <h3 class="text-lg font-bold">{name}</h3>
    {
        description && <p class="text-n700 dark:text-n200">{description}</p>
    }
    {
        bullets && (
            <ul class="list-disc list-inside">
                {bullets.map((item) => (
                    <li>{item}</li>
                ))}
            </ul>
        )
    }
</div>

