
---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import BackBtn from "@/components/BackBtn.astro";
import BackToTop from "../../components/BackToTop.astro";

export async function getStaticPaths() {
    const posts = await getCollection('projects');
    return posts.map(post => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { title, summary, tags, cover, coverDark, ogImage, url } = post.data;

const { Content } = await render(post);

---
<Layout title={title} description={summary} imageOg={ogImage} scrollSmooth={true}>
    <>
        <div class="flex justify-center mt-10">
            <BackBtn/>
        </div>
        <div class="flex gap-6 justify-center items-center">
            <div class="flex-shrink-0">
                <Image transition:name={`${post.id}-image`} class="w-24 h-24 object-cover mlx-icon-light" src={cover} alt="Main project image"/>
                <Image transition:name={`${post.id}-image`} class="w-24 h-24 object-cover mlx-icon-dark" src={coverDark ?? cover} alt="Main project image Dark"/>
            </div>
            <div class="flex flex-col gap-2">
                <h1 class="text-3xl font-bold">{title}</h1>
                <p class="text-sm text-n500 dark:text-primary-light ">
                    {tags.join(', ')}
                </p>
            </div>
        </div>
        <p>
            {summary}
        </p>
        <a href={url}>
            Visit the project ↗
        </a>

        <article id="article" class="mt-8  prose dark:prose-invert max-w-full">
            <Content/>
        </article>
        <BackToTop />
    </>
</Layout>

<style is:global>
    h2 {
        @apply text-2xl font-bold my-4;
    }
</style>

